.conversation-search {
  padding: 10px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 900px) {
  .conversation-search {
    display: none;
  }
}

.conversation-search-input {
  background: #f4f4f8;
  padding: 10px;
  border-radius: 30px;
  border: none;
  font-size: 14px;
}
